<div class="container">
    {{> filterOption title="سجل الطلبات" path="user/orders" today=today}}
    <section class="order">
        {{#if success}}
        <h3>
            شكرا لك, تم استلام طلبك
        </h3>
        {{/if}}
        {{#if orders}}
        {{#each orders}}
        <div class="order-item">
            <div class="d-flex">
                <span>
                    رقم الطلب
                </span>
                <div>
                    {{orderId}}
                </div>
            </div>
            <div class="d-flex">
                <span>التاريخ</span>
                <date dir="ltr">
                    {{dateFormat createdAt "MM-DD-YYYY, hh:mm a"}}
                </date>
            </div>
            <div class="d-flex">
                <span>الكمية</span>
                {{#if (eq (reduce products "count") 1)}}
                <span>
                    لعنصر واحد
                </span>
                {{else if (eq (reduce products "count") 1)}}
                <span>
                    لعنصرين
                </span>
                {{else}}
                <span>
                    ل {{reduce products "count"}}
                    عناصر
                </span>
                {{/if}}
            </div>
            <div class="d-flex">
                <span>المبلغ</span>
                <span>{{formatCurrency totalPrice}}</span>
            </div>
            <div class="d-flex">
                <span>الحالة</span>
                <span>{{status}}</span>
            </div>
            <div class="actions">
                <a href="/user/orders/{{_id}}/details" class="btn btn-primary">عرض</a>
            </div>

        </div>

        {{/each}}

        {{else}}
        <p class="empty-cart">
            لا توجد طلبات
        </p>
        {{/if}}
    </section>
</div>